footer{
    width: 100%;
    height: 72px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer ul{
    width: 297px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

footer p, ul > li{
    color: var(--text-color-secondary);
}