header{
    padding-block: 32px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#perfil{
    display: flex;
    align-items: center;
    gap: 32px;
}

#perfil > div{
    max-width: 384px;
}

#perfil h1{
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#perfil p{
    font: var(--text-md);
    color: var(--text-color-secondary);
}

#informacao{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
}

#informacao li{
    display: flex;
    align-items: center;
    gap: 8px;
}