
#fotografias{
    width: 100%;
    height: fit-content;
    padding-block: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

main div{
    margin: 14px;
    width: 286px;
    height: 286px;
    /* border: 1px solid red; */
}

#imagem-01{
    background-size: cover;
    background-image: url(../assets/img/Image\ 01.png);
}

#imagem-02{
    background-size: cover;
    background-image: url(../assets/img/Image\ 02.png);
}

#imagem-03{
    background-size: cover;
    background-image: url(../assets/img/Image\ 03.png);
}

#imagem-04{
    background-size: cover;
    background-image: url(../assets/img/Image\ 04.png);
}

#imagem-05{
    background-size: cover;
    background-image: url(../assets/img/Image\ 05.png);
}

#imagem-06{
    background-size: cover;
    background-image: url(../assets/img/Image\ 06.png);
}

#imagem-07{
    background-size: cover;
    background-image: url(../assets/img/Image\ 07.png);
}

#imagem-08{
    background-size: cover;
    background-image: url(../assets/img/Image\ 08.png);
}

#imagem-09{
    background-size: cover;
    background-image: url(../assets/img/Image\ 09.png);
}

#imagem-10{
    background-size: cover;
    background-image: url(../assets/img/Image\ 10.png);
}

#imagem-11{
    background-size: cover;
    background-image: url(../assets/img/Image\ 11.png);
}

#imagem-12{
    background-size: cover;
    background-image: url(../assets/img/Image\ 12.png);
}


