
header{
    height: 400px;
    border: 1px solid red;
    display: flex;
    align-items: center;
}

#perfil{
    width: 50%;
    height: 400px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#info-isabela{
    width: 50%;
    height: 100px;
    border: 1px solid red;
}

#local-viagens-fotos{
    margin: 0 0 0 200px;
    width: 280px;
    height: 104px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid red;
}

.icone-informacao{
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.icone{
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacao{
    font-size: 14px;
    margin: 0 0 0 8px;
}

#fotografias{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.imagem{
    margin: 24px;
    width: 286px;
    height: 286px;
    /* border: 1px solid red; */
}

#imagem-01{
    background-size: cover;
    background-image: url(../assets/img/Image\ 01.png);
}

#imagem-02{
    background-size: cover;
    background-image: url(../assets/img/Image\ 02.png);
}

#imagem-03{
    background-size: cover;
    background-image: url(../assets/img/Image\ 03.png);
}

#imagem-04{
    background-size: cover;
    background-image: url(../assets/img/Image\ 04.png);
}

#imagem-05{
    background-size: cover;
    background-image: url(../assets/img/Image\ 05.png);
}

#imagem-06{
    background-size: cover;
    background-image: url(../assets/img/Image\ 06.png);
}

#imagem-07{
    background-size: cover;
    background-image: url(../assets/img/Image\ 07.png);
}

#imagem-08{
    background-size: cover;
    background-image: url(../assets/img/Image\ 08.png);
}

#imagem-09{
    background-size: cover;
    background-image: url(../assets/img/Image\ 09.png);
}

#imagem-10{
    background-size: cover;
    background-image: url(../assets/img/Image\ 10.png);
}

#imagem-11{
    background-size: cover;
    background-image: url(../assets/img/Image\ 11.png);
}

#imagem-12{
    background-size: cover;
    background-image: url(../assets/img/Image\ 12.png);
}

footer{
    width: 100%;
    height: 72px;
    border: 1px solid red;
}

