*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* background */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* textos */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    /* bordas do input */
    --border-primary: #D1D5DB;
    --border-secondary: #B9C2D0;
}

body{
    background-color: var(--background-primary);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

#secao-01{
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#opcao-voltar{
    display: flex;
    width: 140px;
    color: var(--color-brand);
    margin: 0 0 0 140px;

}

#opcao-voltar span{
    font-weight: bolder;
    margin: 0 0 0 10px;
    }

#titulo-compras{
    margin: 10px 0 0 140px;
}

#secao-02{
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#novo-item{
    width: 448px;
    height: 44px;
    padding-inline: 5px;
    border-radius: 10px;
    border: 3px solid var(--border-primary);
}

#novo-item:focus{
    border-color: var(--border-secondary);
}

#adicionar-item{
    width: 160px;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Inter';
    background-color: var(--color-brand);
    color: var(--always-white);
}

#secao-03{
    width: 60%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centralizar-icone{
    width: 40%;
    height: fit-content;
    display: flex;
    align-items: end;
}
.item-informado{
    display: flex;
    align-items: center;
    width: 627px;
    height: 49px;
    margin: 10px 0 10px 0;
    background-color: var(--background-secondary) ;
}

.item-informado input{
    margin: 0 0 0 10px;
}
.item-informado p {
    margin: 0 0 0 30px;
}

.item-informado span{
    margin: 0 0 0 100px;
}

.remover-item{
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    header{
        display: none;
    }

    main{
        height: fit-content;
    }

    #secao-01{
        width: 100%;
        padding-top: 50px;
    }

    #opcao-voltar{
        margin: 0;
    }

    #opcao-voltar{
        margin: 0;
        margin: 10px 0 0 25px;
        font-size: 1.2rem;
    }

    #titulo-compras{
        margin: 10px 0 0 25px;
        font-size: 1.4rem;
    }

    #secao-02{
        width: 100%;
        height: 225px;
        flex-direction: column;
    }

    #novo-item{
        margin: 0 0 0 20px;
    }

    #adicionar-item{
        width: 465px;
        height: 48px;
        font-weight: bold;
        margin: 10px 0 0 20px;
    }

   #secao-03{
        width: 100%;
        /* display: none; */
   }

   .item-informado{
        width: 350px;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--content-secondary);
   }

    
}
