#section-services{
    height: 480px;
    background-color: var(--colorGray-600);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#services-grid{
    width: 80%;
    padding: 10px;
    border: 1px solid red;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;


    & i{
        font-size: 4rem;
        
    }

    p{
       margin: 10px 0 3px 0; 
    }

    .service-div{
        border: 1px solid blue;
        height: 150px;
        padding: 5px;
    }
}

