#section-contact{
    background-image: url(../images/Background_Contacts.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column ;

    & i{
        font-size: 1rem;
        color: var(--colorGray-200);
    }
}

.title-section{

    & p{
        color: var(--colorGray-200);
    }

    h4{
        color: var(--colorPurple);
    }
}

#contacts{
    background-color: goldenrod;
    width: 40%;
    display: grid;
    height: fit-content;

    & .contact{
        display: grid;
        grid-template-rows: auto;
    }
    
}

.contact{
    width: 80%;
    border: 1px solid red;
    display: flex;
    
}